<div class="container mt-4">

  <h2>Add Semester</h2>

  <%= form_with model: [
    :admin,
    @department,
    @department_semester
  ] do |f| %>

    <div class="mb-3">
      <%= f.label :semester_no %>

      <%= f.number_field :semester_no,
          class: "form-control" %>
    </div>

    <%= f.submit "Create Semester",
        class: "btn btn-primary" %>

  <% end %>

</div>