<h2>Students in <%= current_user.department.name %> Department</h2>

<table class="table table-bordered table-striped mt-3">
  <thead class="table-dark">
    <tr>
      <th>Roll Number</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.roll_no %> </td>
        <td><%= student.name %></td>
        <td><%= student.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
